/*
*{
    margin: 0;
    padding: 0;
}
*/

body, html{
    display: flex;
    flex-flow: column nowrap;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 15px;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

nav, h1 {
    background-color: #7A4419;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem
}

nav a{
    color: #e5d59e;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

nav ul{
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

nav li{
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: #e5d59e;
    text-align: center;
    padding: 0.1rem;
}

h1, #logo{
    font-size: 2.5rem;
}

#logo:hover {
    text-decoration: none;
}

h2{
    font-size: 2.25rem;
}

main {
    padding: 0.5% 1%;
    min-height: 87.3vh;
    background-color: #EBEDE8;
}

.call{
    background-color: #e5d59e;
    border-radius: 5px;
    color: #400406;
    padding: 0.5rem;
}

.call:hover{
    box-shadow: 0 0 0.5rem #D4B483;
}
